body {
    background-color: lightskyblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.logo img {
    border-radius: 4px;
    width: 50px
}

.container {
    position: relative;
    background-color: aliceblue;
    max-width: 81rem;
    border-radius: 10px;
    margin: auto;
    padding: 3rem;
    z-index: 10; 
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}


 